body {
  background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, h7, p, a, ul, ol {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}
h2 {
  font-weight: 600;
}
b, strong {
  font-weight: 600;
}
a {
  color: #00cc99;
}
a:hover {
  color: #009966;
}
.subsection {
  padding-top: 1.25em;
}
.section {
  padding-top: 3em;
}
.callout {
  border: none;
  background-color: rgba(255,255,255,.5);
}
@media screen and (min-width: 40em) {
  .subsection {
    padding-top: 2.5em;
  }
  .section {
    padding-top: 5em;
  }
}
@media screen and (min-width: 64em) {
  .section {
    padding-top: 0em;
    padding-bottom: 5em;
  }
}
.info {
  opacity: .5;
}

a.button, a.button:visited {
  background-color: #00cc99;
  font-weight: 600;
}
a.button:hover , a.button:active {
  background-color: #009966;
}
a.button.hollow {
  color: #00cc99;
  border-color: #00cc99;
}
a.button.hollow:hover , a.button.hollow:active {
  color: #009966;
  border-color: #009966;
}
a.link {
  font-weight: 600;
  border-bottom: .1em solid rgba(255,255,255,.5);
}
a.link:hover, a.link:active {
  border-bottom: .1em solid rgba(255,255,255,1);
}
.hyphens {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/*
                              
                              
                              
                              
`7MMpMMMb.   ,6"Yb.`7M'   `MF'
  MM    MM  8)   MM  VA   ,V  
  MM    MM   ,pm9MM   VA ,V   
  MM    MM  8M   MM    VVV    
.JMML  JMML.`Moo9^Yo.   W     
                              
                              
*/

/* correction fixed #nav */
#intro {
  padding-top: 6em;  
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  #intro {
    padding-top: 8em;
  }
}
@media screen and (min-width: 64em) {
  #intro {
    padding-top: 2.5em;
  }
}

#nav {
  position: fixed;
  
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.nav a {
  text-align: center;
  flex-basis: 100%;
  padding: .5em 0;
  font-weight: 600;
  color: #fff;
  background-color: rgba(68,68,68,.9);
  margin-right: 1px;
}
.nav a em {
  font-style: normal;
  opacity: .5;
}
.nav a.last {
  margin-right: 0px;
}
.nav a span {
  display: block;
  white-space: nowrap;
  opacity: .75;
}
.nav a:hover {
  background-color: rgba(51,51,51,.9);
}
.nav a.active {
  background-color: rgba(34,34,34,.9);
}
.nav a:hover span,
.nav a.active span {
  opacity: 1;
}
.nav a img {
  margin-top: -2px;
  opacity: .75;
}
.nav a:hover img,
.nav a.active img {
  opacity: 1;
}
#nav a.cta {
  margin-top: 1em;
  font-size: 1em;
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .nav a span {
    font-size: .8em;
    margin-top: .25em;
    margin-bottom: -.25em;
  }
}
@media screen and (min-width: 64em) {
  #nav {
    margin-left: 0;
    margin-top: 2.5vh;
    width: inherit;
  }
  .nav {
    display: block;
    width: 10em;
  }
  .nav a {
    display: inline-block;
    margin-bottom: 1px;
    padding-left: .75rem;
    padding-right: 1rem;
  }
  .nav a img {
    margin-right: .5em
  }
  .nav a span {
    display: inline-block;
    white-space: nowrap;
  }
}
@media screen and (min-width: 75em) {
  #nav {
    margin-left: 5%;
    margin-left: calc( 20% - 200px );
  }
}

/*
                                         
  ,,                                     
  db              mm                     
                  MM                     
`7MM  `7MMpMMMb.mmMMmm `7Mb,od8 ,pW"Wq.  
  MM    MM    MM  MM     MM' "'6W'   `Wb 
  MM    MM    MM  MM     MM    8M     M8 
  MM    MM    MM  MM     MM    YA.   ,A9 
.JMML..JMML  JMML.`Mbmo.JMML.   `Ybmd9'  
                                         
                                         
*/

#intro h3 {
  margin-bottom: 0;
}
#intro span {
  opacity: .5;
} 

#intro a {
  opacity: .5;
}
#intro a:hover {
  opacity: 1;
}

.mangoweb-logo, 
.techsquat-logo {
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
  position:relative;  
  top: -.04em;
  height: 1.25em;
  
}

/*
                                                                  
                                         ,,                       
                                         db                       
                                                                  
 ,pW"Wq.`7MMpdMAo.  .gP"Ya `7MMpMMMb.  `7MM  `7MMpMMMb.  .P"Ybmmm 
6W'   `Wb MM   `Wb ,M'   Yb  MM    MM    MM    MM    MM :MI  I8   
8M     M8 MM    M8 8M""""""  MM    MM    MM    MM    MM  WmmmP"   
YA.   ,A9 MM   ,AP YM.    ,  MM    MM    MM    MM    MM 8M        
 `Ybmd9'  MMbmmd'   `Mbmmd'.JMML  JMML..JMML..JMML  JMML.YMMMMMb  
          MM                                            6'     dP 
        .JMML.                                          Ybmmmd'   
*/

#opening h1.brand {
  margin: auto;
  display: inline-block;
  padding: .25em .5em;
  font-weight: 900;
  text-align: center;
  border: .15em solid #00cc99;
  color: #00cc99;
  margin-bottom: .5em;
}
#opening .date h3,
#opening .place h3 {
  margin-top: 1em;
  font-weight: 600;
  margin-bottom: 0;
} 
.date .nd-wrap {
  position: relative;
}
.date .nd {
  font-weight: 400;
}
@media screen and (min-width: 40em) { 
  .date .nd {
    position: absolute;
    top: 2.2em;
    left: -2em;
    width: 6em;

    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    //text-transform: uppercase;
    //letter-spacing: .025em;
  }
}
#opening .tag {
  display: block;
  margin-bottom: -.25em;
  letter-spacing: .025em;
}
#opening .tag::before {
  content: "";
  display: block;
  border-top: 1px dashed #444;
  margin-bottom: -.9em;
}
#opening .tag b {
  padding: 0 .5em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .5em;
  background-color: #ddd;
  z-index: 100;
}
#opening .claim {
  text-align: left;
  -webkit-text-align: justify;
  -moz-text-align: justify;
}
#opening .cta .button { 
  margin-bottom: 0;
}
/* correction switched paddings */
@media screen and (min-width: 64em) {
  #opening .cta {
    padding-bottom: 5em;
  }
}

/*
                                     
                  ,,                 
                `7MM                 
                  MM                 
`7M'    ,A    `MF'MMpMMMb.`7M'   `MF'
  VA   ,VAA   ,V  MM    MM  VA   ,V  
   VA ,V  VA ,V   MM    MM   VA ,V   
    VVV    VVV    MM    MM    VVV    
     W      W   .JMML  JMML.  ,V     
                             ,V      
                          OOb"                                                   
*/

#why-and-what .callout h4 {
  text-align: center;
}
@media screen and (min-width: 40em) {
  #why-and-what .callout {
    margin-bottom: 2em;
  }
}

/*
                                                                           
                                              ,,                           
         mm     mm                          `7MM                           
         MM     MM                            MM                           
 ,6"Yb.mmMMmm mmMMmm .gP"Ya `7MMpMMMb.   ,M""bMM  .gP"Ya   .gP"Ya  ,pP"Ybd 
8)   MM  MM     MM  ,M'   Yb  MM    MM ,AP    MM ,M'   Yb ,M'   Yb 8I   `" 
 ,pm9MM  MM     MM  8M""""""  MM    MM 8MI    MM 8M"""""" 8M"""""" `YMMMa. 
8M   MM  MM     MM  YM.    ,  MM    MM `Mb    MM YM.    , YM.    , L.   I8 
`Moo9^Yo.`Mbmo  `Mbmo`Mbmmd'.JMML  JMML.`Wbmd"MML.`Mbmmd'  `Mbmmd' M9mmmP' 
                                                                           
                                                                           
*/

#attendees {
  
}
.locket {
  display: block;
  margin: auto;
  max-width: 80px;
  text-align: center;
  background-color: antiquewhite;
}
.locket.mentor {
  max-width: 120px;
}
.locket img {
  display: inline-block;
  border-radius: 50%;
}


